//- ** This is a sample of a Pug template displaying contact data in a table format.

doctype html
html 
  head 
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body    
    h1 #{title}
    table
      thead
        tr
          th First Name
          th Last Name
          th Email
      tbody
        each contact in contacts
          tr
            td #{contact.properties.firstname}
            td #{contact.properties.lastname}
            td #{contact.properties.email}
